{% load static %}
{% load class_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/base.js' %}"></script>
    <style>a {
        color: white
    }

    a i {
        color: red
    }</style>


    {% block styles %}{% endblock %}
</head>
<body class="body" id="body">

<div id="transperant-container" class="transperant-container hidden">
</div>
<div class="alldata">
    <nav class="navigation" id="navigation">
        <ul>
            <li class="nav-item logo">
                <a href="{% url 'index' %}">Devstagram</a>
            </li>

            <li class="nav-item">
                <form method="get" action="{% url 'search' %}">
                    <input name="q" type="text" placeholder="search">
                    <button class="fas fa-search search-btn" type="submit"></button>
                </form>
            </li>

            {% if not request.user.is_anonymous %}

                <li class="nav-item">
                    <button id="chat-btn" class="dropbtn fas fa-comment-alt" onclick=popUpFunction('chat')></button>
                    <ul id="chatdropdown" class="dropdown-content">

                        {% for chatroom, usr in chatroom_user %}

                            <div style="padding:10px">
                                <a class="chat-link" href="{% url 'asyncroom' request.user.username usr.username %}">
                                    <div class="chatbox-contents">
                                        <img class="user-img-nav" width="50" height="50"
                                             src="{{ usr.profilepicture_set.first.image.url }}">
                                        <div class="username-message-div">
                                            <strong class="chat-username">{{ usr.username }}</strong>
                                            {% if chatroom|get_last_msg == 'Message' %}
                                                <p class="chat-message">{{ chatroom.message_set.last.message }}</p>
                                            {% else %}
                                                {% if request.user == chatroom.postmessage_set.last.sender %}
                                                    <p class="chat-message">You sent a post</p>
                                                {% else %}
                                                    <p class="chat-message">{{ chatroom.postmessage_set.last.sender.username }}
                                                        sent you a post</p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </ul>
                </li>

                <li id="notification" class="nav-item notification">
                <button id="notif-btn" onclick=popUpFunction('notif') class="dropbtn fas fa-bell">
                    - {{ notifslen }}</button>

                <ul id="notificationsDropdown" class="dropdown-content">

                {% for notification in notifications %}
                    <li>
                        {% if notification|get_class == 'FriendRequest' %}
                            <span style="color:black">{{ notification }}</span>
                            <form style="display: inline-block" action="{% url 'friendship' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="sender" value="{{ notification.sender.username }}">
                                <input type="hidden" name="receiver" value="{{ request.user }}">
                                <button type="submit" name="answer" value="accepted" style="display: inline-block">
                                    Accept
                                </button>
                                <button type="submit" name="answer" value="declined" style="display: inline-block">
                                    Decline
                                </button>
                            </form>
                            </li>
                        {% else %}
                            <a class="chat-link"
                               href="{% url 'picture display' notification.picture.user notification.picture.id %}">
                            <span style="float:left">
                                <img style="border-radius: 50%; width: 50px; height: 50px"
                                     src="{{ notification.user.profilepicture_set.first.image.url }}">
                                    {{ notification.user.username }} liked your picture
                                </span>

                                <span style="float:right;">
                                    <img style="width: 50px; height: 50px;"
                                         src="{{ notification.picture.picture.url }}">
                                </span>
                            </a>
                        {% endif %}
                    <hr>
                {% endfor %}

            {% endif %}
            </ul>

            </li>
            <li class="nav-item">
                <a href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>

            <a href="javascript:void(0);" class="icon" onclick="navbarFunction()">
                <i class="fa fa-bars"></i>
            </a>

        </ul>
    </nav>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
    {% block ajaxjs %}
    {% endblock %}
    {% block notifjs %}
        {{ request.user.username|json_script:'username' }}
        <script>
            const username = JSON.parse(document.getElementById('username').textContent);

            const socket = new WebSocket(
                'ws://' +
                window.location.host +
                '/ws/notifications/' +
                '/'
            );
            console.log(socket)


            socket.onopen = function (message) {
                console.log("open", message);
            }

            socket.onmessage = function (message) {
                {#let nl = document.querySelector('#notificationsDropdown')#}
                {#let el = document.createElement('li');#}
                {#el.innerHTML = `New message`#}
                {#nl.appendChild(el)#}
                let data = JSON.parse(message.data)
                let senderUsername = data['sender']
                let notificationType = data['notification_type']
                if (data['receiver'] === username) {
                    let location = window.location
                    if (!location.href.includes('asyncchat')) {
                        if (notificationType === 'message') {
                            alert(`${senderUsername} sent you a message`)
                        } else {
                            alert(`${senderUsername} liked your picture`)
                        }
                    }
                }
            }

            socket.onerror = function (message) {
                console.log("error", message);
            }

            socket.onclose = function (message) {
                console.log("close", message);
            }

        </script>

    {% endblock %}

</div>
<footer class="footer">

</footer>
</body>
</html>