{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <a class="btn btn-primary upload-btn" href="{% url 'upload' %}">Upload picture</a>
        <div id="likediv" class="like-picture">
            <ul>
                {% for picture in pictures %}
                    <li class="post">
                        <a href="{% url 'profile' picture.user %}"><span
                                class="username">{{ picture.user.username }}</span></a>
                        <a href="{% url 'picture display' picture.user.username picture.pk %}">
                            <img class="picture" src="{{ picture.picture.url }}">
                        </a>

                        <p class="description">{{ picture.description }}</p>
                        <hr style="color: #e06215; margin:5px;">
                    <div style="padding: 8px">
                        <span style="color:white;" class="like-span">{{ picture.like_set.count }} likes</span>
                        {% if user.id in picture.likes_as_flat_list %}
                            <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                                    class="fas fa-heart"></i></a>
                        {% else %}
                            <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                                    class="far fa-heart"></i></a>

                        {% endif %}
                        <span>
                        <button class="fas fa-paper-plane pic-send-btn"></button>
                    </span>
                        <div class="pic-send-box hidden">
                            <form method="post" action="{% url 'send post' %}" class="send-form">
                                {% csrf_token %}
                                {% for friend in friends %}
                                    <div class="parentclass">
                                        <label class="box-label"
                                               for="{{ friend.username }}">{{ friend.username }}</label>
                                        <input class="box-input send-to" type="checkbox" id="{{ friend.username }}"
                                               name="send-to" value="{{ friend.pk }}">
                                    </div>
                                {% endfor %}
                                <input type="hidden" value="{{ picture.pk }}" name="pic-pk" class="pic-pk">
                                <button class="send-post">Send</button>
                            </form>
                        </div>
</div>

                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
{% block ajaxjs %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript">

        $(".pic_pk").on('click', function (e) {
            e.preventDefault();
            let link = $(this).attr('href')
            let curSpan = $(this).siblings('.like-span')
            let curHeart = $(this).children('.fa-heart')
            $.ajax({
                cache: false,
                type: 'GET',
                url: link,
                success: function (data) {

                    let likes = data['likes']
                    let userId = data['user_id']
                    let idList = data['id_list']
                    let action = data['action']
                    curSpan.text(likes + ' likes')

                    if (action === 'unlike') {
                        curHeart.removeClass('fas')
                        curHeart.addClass('far')
                    } else {
                        curHeart.removeClass('far')
                        curHeart.addClass('fas')
                    }

                    {#var navHtml2 = undefined#}
                    {#    navHtml2 = $(data).filter('body.alldata').html()#}
                    {#$(document.getElementById('#body')).html(navHtml2)#}
                    {#console.log($(data).filter('body.alldata').html())#}
                }
            })
        })

        {# Show the friend selection box #}
        $(".pic-send-btn").on('click', function (e) {
            var curDiv = $(this).parent('span').siblings('.pic-send-box')
            if (curDiv.hasClass('hidden')) {
                curDiv.removeClass('hidden').addClass('visible')
            } else if (curDiv.hasClass('visible')) {
                curDiv.removeClass('visible').addClass('hidden')

            }

            {# Send request to the backend and close the selection box #}
            $(this).parent('span').siblings('.pic-send-box').children('.send-form').children('.send-post').on('click', function (ev) {
                ev.preventDefault();
                var sendTo = '';
                $(':checkbox').each(function () {
                    var isChecked = $(this).is(':checked');
                    if (isChecked) {
                        sendTo = $(this).val();
                    }
                })

                $.ajax({
                    'type': 'POST',
                    'url': '/sendpost/',
                    'data': {
                        'pic-pk': $(this).siblings('.pic-pk').val(),
                        'send-to': sendTo,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        curDiv.removeClass('visible').addClass('hidden')
                        let navHtml = $(data).filter('nav.navigation').html()
                        ($(document.getElementById('#navigation')).html(navHtml))
                    }
                })

            })
        })
    </script>
{% endblock %}
