{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}

{% block content %}
    <div class="container">
    {% if not request.user.is_anonymous %}
        <a class="upload-btn" href="{% url 'upload' %}">Upload picture</a>
    {% endif %}
        <div id="likediv" class="like-picture">
            <ul>
                {% for picture in pictures %}
                    <div>
                    <li class="post">
                    {% if not request.user.is_anonymous %}
                        <a class="username-link" href="{% url 'profile' picture.user %}"><span
                                class="username">{{ picture.user.username }}</span></a>
                    {% endif %}
                        <a href="{% url 'picture display' picture.user.username picture.pk %}">
                            <img class="picture" src="{{ picture.picture.url }}">
                        </a>

                        <p class="description">{{ picture.description }}</p>
                        <hr style="color: #e06215; margin:5px;">
                        <div style="padding: 8px">
                            <button id="show-likes-button" class="show-likes-button">
                                <span id="like-span" class="like-span">{{ picture.like_set.count }} likes</span>
                            </button>

                            <div id="show-likes-div" class="show-likes-div">
                                {% if not picture.like_set.all %}
                                    <h1 style="color:black; text-align: center">No likes</h1>
                                {% else %}
                                    {% for like in picture.like_set.all %}
                                        <a href="{% url 'profile' like.user.username %}">
                                            <p class="like-user-paragraph">
                                                <img class="like-user-pfp"
                                                     src="{{ like.user.profilepicture_set.first.image.url }}">{{ like.user }}
                                            </p>
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>


            {% if not request.user.is_anonymous %}
                            {% if user.id in picture.likes_as_flat_list %}
                                <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                                        class="fas fa-heart"></i></a>
                            {% else %}
                                <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                                        class="far fa-heart"></i></a>

                            {% endif %}
                            <span>
                                <button
                                        id="send-pic-btn"
                                        class="fas fa-paper-plane pic-send-btn"
                                        onclick="popUpFunction('picSend',$(this).parent('span').siblings('.pic-send-box') )">
                                </button>
                            </span>
                        {% endif %}
                            <div id="pic-send-box" class="pic-send-box">
                                <form id="send-form" method="post" action="{% url 'send post' %}" class="send-form">
                                    {% csrf_token %}
                                    {% for friend in friends %}
                                        <div class="parentclass">
                                            <label class="box-label"
                                                   for="{{ friend.username }}">{{ friend.username }}</label>
                                            <input class="box-input send-to" type="checkbox" id="{{ friend.username }}"
                                                   name="send-to" value="{{ friend.pk }}">
                                        </div>
                                    {% endfor %}
                                    <input type="hidden" value="{{ picture.pk }}" name="pic-pk" class="pic-pk">
                                    <button type="submit" class="send-post">Send</button>
                                </form>
                            </div>
                        </div>

                    </li>
                    </div>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
{% block ajaxjs %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript">

        $(".pic_pk").on('click', function (e) {
            e.preventDefault();
            let link = $(this).attr('href')
            let curSpan = $(this).siblings('.show-likes-button').children('.like-span')
            let curHeart = $(this).children('.fa-heart')
            $.ajax({
                cache: false,
                type: 'GET',
                url: link,
                success: function (data) {
                    let newHtml = document.createElement('html');
                    newHtml.innerHTML = data['template']
                    let oldDivs = document.getElementsByClassName('show-likes-div')
                    let newDiv = newHtml.getElementsByClassName('show-likes-div')
                    oldDivs[0].innerHTML = newDiv[0].innerHTML

                    let likes = data['context']['likes']
                    let userId = data['context']['user_id']
                    let idList = data['context']['id_list']
                    let action = data['context']['action']
                    curSpan.text(likes + ' likes')

                    if (action === 'unlike') {
                        curHeart.removeClass('fas')
                        curHeart.addClass('far')
                    } else {
                        curHeart.removeClass('far')
                        curHeart.addClass('fas')
                    }

                }
            })
        })

        $(".pic-send-btn").on('click', function (e) {
                var curDiv = $(this).parent('span').siblings('.pic-send-box')
                $(this).off('click') // Prevent AJAX request firing multiple times

                // Get the selected users from the form
                $(this).parent('span')
                    .siblings('.pic-send-box')
                    .children('.send-form')
                    .children('.send-post')
                    .on('click', function (ev) {
                        ev.preventDefault();
                        var sendTo = '';
                        $(':checkbox').each(function () {
                            var isChecked = $(this).is(':checked');
                            if (isChecked) {
                                sendTo = $(this).val();
                            }
                        })
                        //Send request to the server
                        $.ajax({
                            'type': 'POST',
                            'url': '/sendpost/',
                            'data': {
                                'pic-pk': $(this).siblings('.pic-pk').val(),
                                'send-to': sendTo,
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            // Hide the form div and update the navbar
                            success: function (data) {
                                curDiv.removeClass('show')
                                let newHtml = document.createElement('html')
                                newHtml.innerHTML = data
                                let navHtml = newHtml.getElementsByTagName("NAV")[0]
                                console.log(navHtml.innerHTML)
                                let oldNav = document.getElementById('navigation')
                                oldNav.innerHTML = navHtml.innerHTML

                            }
                        })


                    })
            }
        )

        // Show picture likes
        $('.show-likes-button').on('click', function (e) {
            let likeDiv = $(this).siblings('.show-likes-div').get(0)
            likeDiv.classList.toggle('show')
            document.body.style.overflow = 'hidden';
            $(document.getElementById("transperant-container")).removeClass('hidden')
            $(document.getElementById("transperant-container")).addClass('visible')
            window.onclick = function (event) {
                if (event.target.id !== "show-likes-div" && event.target.id !== 'like-span') {
                    if ($(likeDiv).hasClass('show')) {
                        likeDiv.classList.toggle('show')
                    }
                    $(document.getElementById("transperant-container")).removeClass('visible')
                    $(document.getElementById("transperant-container")).addClass('hidden')
                    document.body.style.overflow = '';
                }
            }
        })
    </script>
{% endblock %}
