{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/picture_display.css' %}">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="container-item">

            <div class="picture-user">
                <a style="color: white;" href="{% url 'profile' picture.user.username %}">
                    <img src="{{ picture.user.profilepicture_set.first.image.url }}"
                         width="30" height="30" style="border-radius: 50%;">
                    {{ picture.user.username }}
                </a>
            </div>
            <img height="400" width="400" src="{{ picture.picture.url }}" alt="{{ picture.user.username }}'s picture">
            <p>{{ picture.like_set.count }} likes</p>
            <p>{{ picture.description }}</p>

            {% if request.user.id == picture.user_id %}
                <form method="get" action="{% url 'edit' picture.pk %}" enctype="multipart/form-data">
                    <button>Edit</button>
                </form>
            {% endif %}
        </div>

        <div class="container-item comment-box">
            {% for comment in comments %}

                <div class="comment">
                    <div style="display:flex;">
                        <img width="50" height="50" class="comment-img"
                             src="{{ comment.user.profilepicture_set.first.image.url }}"
                             alt="picture">
                        <div style="margin-left: 1rem;">
                            <strong>{{ comment.user.username }}</strong>
                            <p>{{ comment.comment }}</p>
                        </div>
                        <form method="post" action="{% url 'delete comment' comment.pk %}">
                            {% csrf_token %}
                            <button type="submit" class=" delbtn" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
{#                                <input type="hidden" name="pk" value="{{ comment.pk }}">#}
                            </button>
                        </form>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
    <div class="comment-post">
        <form method="post" action="{% url 'comment' %}">
            {% csrf_token %}
            <label for="id_comment">Comment:</label>
            <input type="text" name="comment" id="id_comment" required>
            <input type="hidden" name="pic_id" value="{{ picture.id }}">
            <button>Post</button>
        </form>
    </div>


{% endblock %}