{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/picture_display.css' %}">
    <script type="text/javascript" src="{% static 'js/like.js' %}"></script>

{% endblock %}
{% block content %}
    <div class="container">

        <div class="container-item">

            <div class="picture-user">
                <a style="color: white;" href="{% url 'profile' picture.user.username %}">
                    <img src="{{ picture.user.profilepicture_set.first.image.url }}"
                         width="30" height="30" style="border-radius: 50%;">
                    {{ picture.user.username }}
                </a>
            </div>
            <img height="400" width="400" src="{{ picture.picture.url }}" alt="{{ picture.user.username }}'s picture">

            <p>
                {% if user.id in picture.likes_as_flat_list %}
                    <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                            class="fas fa-heart"></i></a>
                {% else %}
                    <a class="pic_pk" href="{% url 'like' picture.pk %}"><i
                            class="far fa-heart"></i></a>

                {% endif %}
                <span class="like-span">{{ picture.like_set.count }} likes</span>
            </p>
            <p>{{ picture.description }}</p>

            {% if request.user.id == picture.user_id %}
                <form method="get" action="{% url 'edit' picture.pk %}" enctype="multipart/form-data">
                    <button class="btn btn-primary">Edit</button>
                </form>
            {% endif %}
        </div>

        <div class="container-item comment-box">
            {% for comment in comments %}

                <div class="comment">
                    <div style="display:flex;">
                        <img width="50" height="50" class="comment-img"
                             src="{{ comment.user.profilepicture_set.first.image.url }}"
                             alt="picture">
                        <div style="margin-left: 1rem;">
                            <strong>{{ comment.user.username }}</strong>
                            <p>{{ comment.comment }}</p>
                        </div>
                        <form method="post" action="{% url 'delete comment' comment.pk %}">
                            {% csrf_token %}
                            <button type="submit" class=" delbtn" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                <input type="hidden" name="pic-pk" value="{{ picture.pk }}">
                            </button>
                        </form>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
    <div class="comment-post">
        <form method="post" action="{% url 'comment' %}">
            {% csrf_token %}
            <label for="id_comment">Comment:</label>
            <input type="text" name="comment" id="id_comment" required>
            <input type="hidden" name="pic_id" value="{{ picture.id }}">
            <button>Post</button>
        </form>
    </div>


{% endblock %}
{% block ajaxjs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript">

        $(".pic_pk").on('click', function (e) {
            e.preventDefault();
            let link = $(this).attr('href')
            let curSpan = $(this).siblings('.like-span')
            let curHeart = $(this).children('.fa-heart')
            $.ajax({
                cache: false,
                type: 'GET',
                url: link,
                success: function (data) {
                    let likes = data['likes']
                    let userId = data['user_id']
                    let idList = data['id_list']
                    let action = data['action']
                    curSpan.text(likes + ' likes')

                    if (action === 'unlike') {
                        curHeart.removeClass('fas')
                        curHeart.addClass('far')
                    } else {
                        curHeart.removeClass('far')
                        curHeart.addClass('fas')
                    }
                }
            })

        })
    </script>
{% endblock %}