{% extends 'base.html' %}
{% load static %}
{% load get_friends_tag %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profilecard.css' %}">{% endblock %}
{% block content %}
    {% if not searched_users_all_likes %}
        <h3 style="text-align: center; margin-top:1rem;">No users matching your search</h3>
    {% else %}
    <form method="get" action="{% url 'search' %}">
        <input type="hidden" name="q" value="{{ q }}">
        <select name="order">
            <option name="order" value="date-joined-asc">Date joined &#8593;</option>
            <option name="order" value="date-joined-desc">Date joined &#8595;</option>
            <option name="order" value="likes-asc">Likes &#8593;</option>
            <option name="order" value="likes-desc">Likes &#8595;</option>
            <option name="order" value="posts-asc">Posts &#8593;</option>
            <option name="order" value="posts-desc">Posts &#8595;</option>
            <option name="order" value="friends-asc">Friends count &#8593;</option>
            <option name="order" value="friends-desc">Friends count &#8595; </option>
        </select>
        <button type="submit">sort</button>
    </form>
    <div class="wrapper">
        {% for usr, likes in searched_users_all_likes %}

            <div class="frame">
                <div class="center">
                    <div class="profile">
                        <div class="image" style="color:red">
                            <div class="circle-1"></div>
                            <div class="circle-2"></div>
                            <img src="{{ usr.profilepicture_set.first.image.url }}" width="70" height="70"
                                 alt="{{ usr.username }}">
                        </div>

                        <div class="name">
                            <a href="{% url 'profile' usr %}" style="color:red">{{ usr.username }}
                            </a>
                        </div>


                        <div class="actions">
                            <form id="send_friend_request" action="{% url 'friend request' %}" method="post">
                                {% csrf_token %}
                                <input id="sender" type="hidden" name="sender" value="{{ request.user }}">
                                <input id="receiver" type="hidden" name="receiver" value="{{ usr }}">
                                <button class="btn">Add friend</button>
                            </form>
                            <form method="post" action="{% url 'asyncroom' request.user.username usr.username %}">
                                {% csrf_token %}
                                <button class="btn">Message</button>
                            </form>
                        </div>
                    </div>

                    <div class="stats" style="color: red">
                        <div class="box">
                            <span class="value">{{ usr.picture_set.count }}</span>
                            <span class="parameter">Posts</span>
                        </div>
                        <div class="box">
                            <span class="value">{{ likes }}</span>
                            <span class="parameter">Likes</span>
                        </div>
                        <div class="box">
                            {% if  usr.userfriends_set.first.friends > 0 %}
                                <span class="value">{{ usr|get_friends }}</span>
                            {% else %}
                                <span class="value">0</span>
                            {% endif %}
                            <span class="parameter">Friends</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}