{% extends 'base.html' %}
{% load class_tag %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block content %}
    <section class="chatbox">
        <section id="chat-window" class="chat-window">
            {% for message in messages %}
                {% if message.sender == request.user %}
                    <article class="msg-container msg-self" id="msg-0">
                        <div class="msg-box">
                            <img class="user-img" id="user-0"
                                 src="{{ request.user.profilepicture_set.first.image.url }}"/>
                            <div class="flr">
                                {% if message|get_class == 'Message' %}
                                <div class="messages">
                                    <p class="msg" id="msg-0">
                                        {{ message.message }}
                                    </p>
                                </div>
                                    {% else %}
                                    <br>
                                    <br>
                                    <a href="{% url 'picture display' message.post_owner.username message.post_image.pk %}">
                                    <div class="border">
                                        <div class="pic-and-username">
                                            <img class="sent-post-pfp" src="{{ message.post_owner.profilepicture_set.first.image.url }}">
                                            <span>{{ message.post_owner.username }}</span>
                                        </div>
                                        <div class="main-picture">
                                            <img width="150" height="150" src="{{ message.post_image.picture.url }}">
                                        </div>
                                    </div>
                                    </a>
                                    {% endif %}
                                <span class="timestamp">
                                    <span
                                            class="username">{{ request.user.username }}</span>&bull;<span
                                        class="posttime">{{ message.timestamp.hour }}:{{ message.timestamp.minute }}
                                </span>
                                </span>
                            </div>
                        </div>
                    </article>
                {% else %}
                    <article class="msg-container msg-remote" id="msg-0">
                        <div class="msg-box">
                            <img class="user-img" id="user-0"
                                 src="{{ user_two_.profilepicture_set.first.image.url }}"/>
                            <div class="flr">
                                {% if message|get_class == 'Message' %}
                                <div class="messages">
                                    <p class="msg" id="msg-0">
                                        {{ message.message }}
                                    </p>
                                </div>
                                    {% else %}
                                    <br>
                                    <br>
                                    <a href="{% url 'picture display' message.post_owner.username message.post_image.pk %}">
                                    <div class="border">
                                        <div class="pic-and-username">
                                            <img class="sent-post-pfp" src="{{ message.post_owner.profilepicture_set.first.image.url }}">
                                            <span>{{ message.post_owner.username }}</span>
                                        </div>
                                        <div class="main-picture">
                                            <img width="150" height="150" src="{{ message.post_image.picture.url }}">
                                        </div>
                                    </div>
                                    </a>
                                    {% endif %}
                                <span class="timestamp"><span
                                        class="username">{{ message.sender.username }}</span>&bull;<span
                                        class="posttime">{{ message.timestamp.hour }}:{{ message.timestamp.minute }}</span></span>
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
        <div id="chat-input" class="chat-input">
            <input id="input" type="text">
            <button type="submit" id="submit" value="Send">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="rgba(0,0,0,.38)"
                          d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z"/>
                </svg>
            </button>
        </div>
    </section>

    {{ room_name|json_script:'roomname' }}
    {{ request.user.username|json_script:'user_username' }}
    {{ user_one|json_script:'user_one' }}
    {{ user_two|json_script:'user_two' }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('roomname').textContent);
        const user_username = JSON.parse(document.getElementById('user_username').textContent);

        const user_one = JSON.parse(document.getElementById('user_one').textContent);
        const user_two = JSON.parse(document.getElementById('user_two').textContent);

        // Send data to server
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input')
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': user_one,
                'receiver': user_two,
            }))
            messageInputDom.value = ''
        }

        // Create websocket
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/asyncchat/' +
            roomName +
            '/'
        );

        // Receive data from server
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let username = data.username
            let pictureUrl = data.pictureurl

            let chatsection = document.createElement('section')
            if (data.username === user_username) {
                chatsection.className = 'msg-container msg-self'
            } else (chatsection.className = 'msg-container msg-remote'
            )

            chatsection.innerHTML = `<div class="msg-box">
                                <img class="user-img""
                                     src=""/>
                                <div class="flr">
                                    <div class="messages">
                                        <p class="msg">

                                        </p>
                                    </div>
                                    <span class="timestamp"><span class="username">username</span>&bull;<span
                                            class="posttime">3 minutes ago</span></span>
                                </div>
                            </div>`
            document.querySelector('#chat-window').appendChild(chatsection)
            $('.msg').last().text(data.message)
            $('.username').last().text(data.username)
            $('.user-img').last().attr('src', pictureUrl)
            $('.posttime').last().text(data.timestamp)
        }

        // Auto scrolldown on load
        $(document).ready(function () {
            $(document).scrollTop($(document).height());

        });


        // Auto scrolldown when message is sent function
        $(document).ready(function () {
            $("#chat-input").click(function () {
                $(document).scrollTop($(document).height());
            });
        });

        // Submit with ENTER-key function
        $(document).ready(function () {
            $('#chat-input').keypress(function (k) {
                if (k.keyCode == 13)
                    $('#submit').click();
                $("html, body").animate({scrollTop: $(document).height()}, 200);
            });


        });
    </script>

{% endblock %}
